<mat-sidenav-container class="overflow-hidden vh-100">
  <mat-sidenav class="sidebar d-flex flex-column shadow-sm" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <mat-nav-list class="p-0 h-100 d-flex flex-column">
      <div class="bg-img-sidebar-header">
        <div class="row g-0 p-3 justify-content-center">
          <img class="ic_circle_people mt-2" src="../../../../assets/icon_user.svg" height="800" width="800" alt="">
          <p class="fw-bold text-center mt-3">{{userDetail.fullName || "Halo Pengguna"}}</p>
        </div>
      </div>

      <hr class="m-2">

      <div class="mt-3 flex-grow-1">
        <a [routerLink]="ConsultationListComponent.ROUTER" routerLinkActive="active">
          <i class="pi pi-list me-2"></i> Consult List
        </a>
      </div>

      <div class="d-flex justify-content-center mb-3">
        <p-button [outlined]="true" label="Logout" icon="pi pi-sign-out" size="small" severity="danger" (click)="logout()"/>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="overflow-y-auto" [ngClass]="{'desktop-z-3': !isMobile, 'mobile-z-0': isMobile}">
    <mat-toolbar class="ps-3 pe-3 text-bg-light sticky-top shadow-sm">
      <p-button [hidden]="btnIsVisible"  variant="outlined" icon="pi pi-bars" size="small" (click)="toggleMenu()"/>
      <p class="fw-bold fs-4 m-3">{{title}}</p>
    </mat-toolbar>
    <div class="container-fluid p-0">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
